/**
 * ----------------------------------------
 * IMAGES
 * ----------------------------------------
 */
 .images {
    width: 50px;
    border-radius: 10px
    }
    .avatar {
      display: block;
      width: 55%;
      margin: auto;
    }
  
    .coordonnees img{
      border-radius: 10px;
      display: block;
      width: 30%;
      margin: auto;
    }
    .imagesCompetences img{
      border-radius: 10px;
      display: block;
      width: 30%;
      margin: auto;
    }
    
    .imagesCompetences .col-md-4 {
      margin-top: 100px;
    }